body {
  margin: 0px;
  height: 100vh;
}

#container {
  /* display: flex;
  flex-direction: column; */
  background: lightgray;
  justify-content: space-between;
  height: 100%;
  /* border: 2px solid black; */
}
.root { 
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* NAVIGATION STYLES: */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 112, 216);
  height: 60px;
  border: 1px solid black;
  padding: 15px;
  color: white;
  text-align: left;
}

.nav-left {
  display: flex;
  min-width: max-content;
}

.nav-left>div {
  margin-right: 20px;
}

.nav-right {
  min-width: max-content;
}

.app {
  display: flex;
  flex-direction: column;
  /* text-align: flex-start; */
  height: 100%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* CONTENT HISTORY STYLES: */
.search-history {
  display: flex;
  padding-left: 40px;
  align-items: center;
  wrap: wrap;
}
.search-history-item {
  margin: 10px 5px 10px 5px;
  border-radius: 7px;
  background: lightblue;
}

/* CONTENT STYLES:  */
#search [type='text']{
  border-radius: 7px;
}
#search button {
  border-radius: 7px;
  background: orange;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* height: 100%; */
  height: max-content;
  width: 30%;
  /* background-color:rgb(214, 235, 97); */
  padding: 15px;
  padding-bottom: 80px;
}

#search {
  padding-left: 25px;
}

.stories li {
  padding: 5px;
}
.stories :nth-child(even) {
  background-color: darkgray;
}

.stories :nth-child(even) a:hover {
  background-color: darkgray;
  color: yellow;
}

.stories a {
  color: black;
  text-decoration: none;
}
.stories a:hover {
  color: blue;
  text-decoration: bold;
}

/* FOOTER STYLES: */
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color:rgb(67, 134, 221);
}